.top-bar{
    display: flex;
    flex-direction: row;
    margin-top:7%;
    margin-left: 3%;
    color: var(--text-color);
}

.points{
    margin-left:19% ;
    margin-right: 19%;
    position: center;
    display:flex;
    background-color: var(--card-bg);
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    padding:  0.5% 10% 0.5% 2%;

}

.points img{
    margin-right: 19%;
}

.pnt{
    white-space: nowrap;
}

.qr-code{
    margin-left:21%;
}
