/*colors

#0E6286 (Deep Blue)
#0E9183 (Teal Green)
#EBE4DC (Soft Beige)
#09B66D (Vibrant Green)

#001B48 (Dark Navy Blue)
#02457A (Deep Blue)
#018ABE (Bright Cyan Blue)
#97CADB (Soft Light Blue)
#D6E8EE (Pale Sky Blue)


*/

body{
    background: #EBE4DC ;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #FFF;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 600px;
}

.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px ;
    border-radius: 10px;
}

.text{
    color: #09B66D;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #09B66D;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #09B66D;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height:69px;
    color: #ffffff;
    background:#09B66D;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}
