:root {
    --deep-blue: #0E6286;
    --teal-green: #0E9183;
    --soft-beige: #EBE4DC;
    --vibrant-green: #09B66D;
    --dark-navy-blue: #001B48;
    --bright-cyan-blue: #018ABE;
    --soft-light-blue: #97CADB;
    --pale-sky-blue: #D6E8EE;

    --light-gray: #eaeaea;
    --gray: #676767;
    --dark-gray: #797979;
    --white: #ffffffe5;

    /* Dark Theme Colors */
    --dark-bg: #1a1a1a;
    --dark-card: #2a2a2a;
    --dark-text: #e0e0e0;
    --dark-highlight: #09B66D;
}

[data-theme="dark"] {
    --bg-color: var(--dark-bg);
    --text-color: var(--dark-text);
    --button-hover-bg: var(--bright-cyan-blue);
    --card-bg: var(--dark-card);
    --button-txt : var(--white)
}

[data-theme="light"] {
    --bg-color: var(--soft-beige);
    --text-color: var(--gray);
    --button-hover-bg: var(--bright-cyan-blue);
    --card-bg: var(--white);
    --button-txt : var(var(--dark-card))
}

.switch-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background: var(--card-bg);
    color: var(--button-txt);
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}